@charset "UTF-8";

$body-color:#FAFAFA;
$bottom-color:#8E9AB5;

$title-bj-color:#213654;
$title-color:#fff;
$title-name:#0022A9;

$card-bj-color:#DAE3FA;
$card-color:#0D2986;
$card-border-color:#C1CDEB;
$card-left-color:#438EF7;
$card-right-color:#213654;
$card-echarts-border-color:#E1E1E1;
$card-echarts-color:#F5F5F5;
$card-echarts-chr:#E93478;
$card-echarts-chr2:#A459F7;
$card-echarts-chr3:#67D3E6;
$card-echarts-chr4:#94AD27;
$card-echarts-chr5:#5B81FE;
$card-table-tab:#7E5AEE;
$card-loca-more:#EBEEF5;
$card-cont:#3184ff;
$card-cont-span-color:#00de0f;
$weflar-span:#d73a3a;
